    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Scope of GIGAR-V</h2>

<p>The GIGAR-V project focuses on enhancing interoperability and fostering co-creation in the realm of Open Science through developing and managing Controlled Vocabularies. Critical aspects within the scope of this project include:<br>
<p>Establishing frameworks and guided recommendations for designing innovative Registry Services tailored explicitly for Controlled Vocabularies curation across various domains.<br>
Addressing co-creation aspects to promote collaboration and collective input.<br>
Implementing a dedicated governance model to maintain terminologies that align with FAIR principles.<br>
Tackling the challenges of "individual" extension of existing vocabularies, versioning, provenance, and quality assessment.<br>
Utilizing software functionalities to support the project objectives holistically.<br>
Comparing and collecting requirements to provide adaptable recommendations that add value and drive the project's goals.<br>
<br>
<h3>Goals Based on the GIGAR-V Project Scope:</h3>
<p>The primary motivation for this project is to advance the development of recommendations and existing examples for a registry concept that can be utilized in future scripts and software implementations while accommodating cross-domain requirements as much as possible. The following considerations will be addressed in achieving the project's goals:<br>
Standardize and streamline the allocation of reference concepts for vocabulary registration, curation, and provenance (including versioning and change proposal history).<br>
Facilitate the extension of vocabularies and enhance the co-creation process for terminologies through a well-defined governance model.<br>
Promote the transdisciplinary and interdisciplinary re-use of research data.<br>
Ensure interoperability through open-source digital objects, including software and Virtual Research Environments.<br>
Support W3C-compliant knowledge representation in ontologies, enabling seamless standards-compliant queries of semantic content.<br>
Foster the generation of Knowledge Graphs, enhancing the discoverability of complex annotated and linked research data.<br>

<p>The anticipated outcome of this proposal is a comprehensive report that serves as user-centric technical guidelines for implementing recommendations for Registry Services and the governance model.</p>
<br>
<h3>Background</h3>
<p>The research landscape is undergoing significant changes in response to the demands of digital transformation. The impact of research findings on various aspects of society, such as biodiversity, climate change, disaster risk management, and human health, depends on the ability to trace decision-ready data on a global scale. Open Science fosters and necessitates a much higher level of interoperability and sustained and reliable semantic concepts.
<p>The need for reliable and traceable interoperability is growing between processed data from observational measurements, experiments, scalable data ensembles, and GLAM collections (Galleries, Libraries, Archives, and Museums). This requirement influences the detailed design of Data Life Cycles, which formalizes provenance information, including research instruments, processing algorithms, terminology, and ontology references.
<p>Transparent information and exploitable data interoperability form the foundation for a better understanding societal and environmental changes over time and practical simulations. Digital twins are well-established within the legal frameworks of the EU Data Strategy, and they are addressed through initiatives such as GAIA-X and EU Data Spaces, which complement the European Open Science Cloud (EOSC).</p>
<p>Data-driven research and processing across disciplines and domains necessitate a shared understanding of data content facilitated by a transdisciplinary collaborative approach and federated, accessible e-infrastructures. Data content can be compared using conventions such as standard data models, standards-compliant distribution formats, and agreements on terminologies in controlled vocabularies.</p>
<p>Although there are numerous independent terminology resources in various research areas, there need to be common strategies for defining vocabulary concepts, differing levels of detail, monolithic frameworks, inadequate provenance information, and curation impede progress. The limited number and variety of terminologies or vocabulary servers necessitate user-centric interaction, which involves integrating existing vocabularies on a shared platform and describing their relationships.</p>
<p>The need for interoperability in defining data variables significantly affects data's usability as a shared resource. The abundance of poorly aligned semantic resources creates uncertainty for cross-disciplinary and cross-data sector usage. Nevertheless, the terminology sector has made substantial advancements in recent years, giving rise to new challenges such as multilingual, sustainable reference concepts, and reuse/maintenance, exemplified by <a href="https://zenodo.org/record/6588167#.YyGhmXZBxPY">Multilingual Data Challenges</a>.</p>

                

            </div>
        </div>
    </section>
