    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download GIGAR-V reports</h2>
                    <p>You can download any dissimination products, we delivered so far</p>
                    <a href="http://startbootstrap.com/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
