    <!-- Imprint Section -->
    <!-- Intro Header -->
    <header class="imprint">
        <div class="imprint-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Imprint</h2>
            
                            <img src="{{ site.baseurl }}/img/EOSC_Future_logo.png" alt="EU" width="180" height="100">
                            <img src="{{ site.baseurl }}/img/rda-alliance-logo.png" alt="EU" width="140" height="85">

                            <p>This project is funded by <a href="https://github.com/">RDA Foundation & EOSC Future</a></p>
                            <img src="{{ site.baseurl }}/img/Flag_of_Europe.svg.png" alt="EU" width="50" height="35">
                            <p><font size="2"> The EOSC Future project is co-funded by the European Union Horizon Programme call INFRAEOSC-03-2020, Grant Agreement number 101017536 </font></p>
                    </div>
                </div>
            </div>
        </div>
    </header>


