    <!-- Team Section -->
    <section id="team" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>team members:</h2>
                <p><a href="https://orcid.org/0000-0002-4971-2493">Chris Schubert</a> | TU Wien, Austria </p>
                <p> In 2004 he started with geology and land use ontologies and developed similarity measures based on ontologies within a software application supporting image processing (satellite data). For OneGeology, he co-developed a vocabulary based on ontology reasoning  for GeoSciML. He works for the European Commission for the INSPIRE (a directive for interoperable data service) development. Beyond Data Modelling, he was involved for setting up the EU-INSPIRE Vocabulary. Between 2020 to 2023, he leads as Co-Chair the gub-group on Data Sharing & Data Management Principels, a part of the Group on Earth Observation working groups. Since 2022 Whe is co-chair of the EOSC TaskForce FAIR Metrics and Data Quality.
</p>
                <p><a href="https://orcid.org/0000-0003-4073-7456">Romain David</a> | ERINHA AISBL, France </p>
                <p> Romain is a research fellow working on interoperability improvement in observatory and experiment at international scale. He is data steward and researcher at ERINHA AISBL (European Research Infrastructure on Highly Pathogenic Agents). His main focus is on development, adoption, choice and implementation of ontologies, standards and FAIR principles adoption.
</p>

                <p><a href="https://orcid.org/0000-0002-8011-7350">Kathi Schleidt</a> | DataCove, Austria</p>
                <p> Kathi studied technical informatics at TU Vienna. After many years working in industry, in 2004 she discovered environmental informatics. Since then, she has worked on various topics pertaining to environmental data, foremost its management, structuring and provision. This work has ranged from the semantic integration of long-term ecological research data (LTER) to the incorporation of Sensor Web concepts into INSPIRE; she coordinated the use of the OGC/ISO Observations and Measurements standard (O&M; ISO 19156) in INSPIRE, and defined the European Air Quality reporting formats based on INSPIRE. In 2016 she founded DataCove e.U. where she has been involved in various international projects pertaining to modeling observational data and utilizing emerging technologies such as OGC SensorThings API and OGC API (WFS3). Pertaining to standardization, she is co-chair of the OGC O&M SWG and currently finalizing the new version of En ISO 19156, including integration of terminological aspects. In addition, she is co-chair of the
OGC Conceptual Modelling Group.
</p>
                <p><a href="https://orcid.org/0000-0002-5963-349X"> Heimo Rainer </a> | Natural History Museum Vienna, Austria </p>
                <p> Heimo is Head of Botany Department at the Natural History Museum Vienna. Coordinator and Operator of the virtual herbarium and botany collections management platform JACQ ( https://www.jacq.org ); Engagement in Species2000, BHL-Europe, i4Life, OpenUp!, Europeana DSI and DSI 2; Provider of a Global Species Dataset for the plant families Annonaceae and Amaranthaceae for the Catalogue of Life https://
catalogueoflife.org ; Coworker of the “Catalogi Florae Faunae Austriae” hosted at the Austrian Academy of Sciences; steering board member of GBIF Austria; National Node of the ESFRI Distributed System of Scientific Collections (https://www.dissco.eu ); coordinator of the Open Scientific Collections Austria ( https://osca.science ); coordinator of the Digitization Working Group of the Consortium of European Taxonomic Facilities (CETAF) and member of the ISTC working group. Numerous scientific studies in over 100 international botanical collections, mostly in Europe and the Western Hemisphere. Field studies in tropical regions of South and Middle America and the Antillean Islands.
</p>

<p><a href="https://orcid.org/0000-0002-4472-7194"> Richard Dennis  </a> | reNEW Copenhagen, Denmark </p>
                <p> Richard as Research Consultant – Data Steward / Data Manager at Novo Nordisk Foundation Center for Stem Cell Medicine, reNEW, University of Copenhagen Denmark. Areas of responsibility include designing the infrastructure and implementing Data Governance, Danish National Trusted Data Repository in collaboration with Copenhagen University Information Technology (Dataverse), and supporting FAIR Data, metadata, and ontologies. Development and collaboration in the European Open Science Cloud (EOSC). EOSC is the EU's association coordinates open science investments via
Task Forces and other governance structures. Provide advice and consultancy – meet with researchers, discuss their data management practices, make suggestions for possible improvements, GDPR requirements and become the trusted person for questions about research data management.
</p>


            </div>
        </div>
    </section>
